@mainColor: #5887f7;
@mainColor_hover: #78aaff;
@mainColor_active: #2a52be;
main {
  .container {
    background-color: #fff;
    padding: 40px 20px;
    h3 {
      // margin: 50px 0 20px 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0 40px 0;
      font-family: 'Courier New', Courier, monospace;
      tr {
        th,
        td {
          font-size: 14px;
          padding: 10px;
          color: #000;
          a {
            color: #000;
            &:hover {
              color: @mainColor;
            }
          }
        }
      }
    }
  }
}
