main .container {
  display: flex;
  background-color: #fff;
  padding: 40px 20px;
}
main .container aside {
  width: 18%;
  margin-right: 2%;
}
main .container aside h6 {
  position: sticky;
  top: 80px;
  left: 0;
  font-size: 16px;
  margin-bottom: 20px;
}
main .container aside ul {
  position: sticky;
  top: 124px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main .container aside ul li {
  width: 100%;
  list-style: none;
  margin-bottom: 5px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}
main .container aside ul li:last-child {
  margin-bottom: 0;
}
main .container aside ul li:hover {
  color: #fff;
  background-color: #78aaff;
}
main .container aside ul li:active {
  color: #2a52be;
}
main .container article {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
main .container article section {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
main .container article section h3 {
  position: relative;
  padding: 20px;
}
main .container article section h3::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 2px;
  background-color: coral;
}
main .container article section div.inner h6 {
  position: relative;
  font-size: 16px;
  padding: 10px 20px;
  text-align: left;
  margin: 8px 0;
}
main .container article section div.inner h6::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 6px;
  height: 36px;
  background-color: coral;
}
main .container article section div.inner ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
main .container article section div.inner ul li {
  list-style: none;
  margin: 0 1% 1% 0;
}
main .container article section div.inner ul li a {
  display: block;
  font-size: 14px;
  height: 60px;
  line-height: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s;
}
main .container article section div.inner ul li a:hover {
  color: #fff;
  background-color: #78aaff;
  border: 1px solid #5887f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
@media screen and (max-width: 767px) {
  main .container {
    flex-direction: column;
  }
  main .container aside {
    width: 100%;
    margin-right: 0;
  }
  main .container aside ul {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }
  main .container aside ul li {
    width: 25%;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 0;
  }
  main .container article {
    width: 100%;
  }
  main .container article section div.inner ul li {
    width: 49.5%;
  }
  main .container article section div.inner ul li:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  main .container {
    flex-direction: column;
  }
  main .container aside {
    width: 100%;
    margin-right: 0;
  }
  main .container aside ul {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }
  main .container aside ul li {
    width: 12.5%;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 0;
  }
  main .container article {
    width: 100%;
  }
  main .container article section div.inner ul li {
    width: 24.25%;
  }
  main .container article section div.inner ul li:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main .container section div.inner ul li {
    width: 15.83333333%;
  }
  main .container section div.inner ul li:nth-child(6n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  main .container section div.inner ul li {
    width: 15.83333333%;
  }
  main .container section div.inner ul li:nth-child(6n) {
    margin-right: 0;
  }
}
