@mainColor: #5887f7;
@mainColor_hover: #78aaff;
@mainColor_active: #2a52be;

// 主体
main {
  .container {
    display: flex;
    background-color: #fff;
    padding: 40px 20px;
    // 侧边栏
    aside {
      width: 18%;
      margin-right: 2%;
      h6 {
        position: sticky;
        top: 80px;
        left: 0;
        font-size: 16px;
        margin-bottom: 20px;
      }
      ul {
        position: sticky;
        top: 124px;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;

        li {
          width: 100%;
          list-style: none;
          // font-size: 14px;
          // background-color: blueviolet;
          margin-bottom: 5px;
          padding: 12px;
          border-radius: 5px;
          cursor: pointer;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            color: #fff;
            background-color: @mainColor_hover;
          }
          &:active {
            color: @mainColor_active;
          }
        }
      }
    }
    article {
      width: 80%;
      background-color: #fff;
      display: flex;
      flex-direction: column;

      section {
        width: 100%;
        // background-color: aquamarine;
        // margin: 20px auto;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        h3 {
          position: relative;
          padding: 20px;
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 2px;
            background-color: coral;
          }
        }
        div.inner {
          h6 {
            position: relative;
            font-size: 16px;
            padding: 10px 20px;
            text-align: left;
            margin: 8px 0;
            &::before {
              content: '';
              position: absolute;
              top: 4px;
              left: 0;
              width: 6px;
              height: 36px;
              background-color: coral;
            }
          }
          ul {
            display: flex;
            flex-direction: row;
            justify-content: start;
            flex-wrap: wrap;
            li {
              list-style: none;
              margin: 0 1% 1% 0;
              a {
                display: block;
                font-size: 14px;
                height: 60px;
                line-height: 20px;
                padding: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                color: #000;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all 0.2s;
                &:hover {
                  color: #fff;
                  background-color: @mainColor_hover;
                  border: 1px solid @mainColor;
                  border-radius: 5px;
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                  transform: translateY(-5px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// /* 主流手机（375px - 767px） */
@media screen and (max-width: 767px) {
  main .container {
    flex-direction: column;
    aside {
      width: 100%;
      margin-right: 0;
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        li {
          width: 25%;
          font-size: 14px;
          padding: 5px;
          margin-bottom: 0;
        }
      }
    }
    article {
      width: 100%;
      section div.inner ul li {
        width: 49.5%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

// /* 平板竖屏（768px - 991px） */
@media screen and (min-width: 768px) and (max-width: 991px) {
  main .container {
    flex-direction: column;

    aside {
      width: 100%;
      margin-right: 0;
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        li {
          width: 12.5%;
          font-size: 14px;
          padding: 5px;
          margin-bottom: 0;
        }
      }
    }
    article {
      width: 100%;
      section div.inner ul li {
        width: 24.25%;
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}

// /* 平板横屏/小屏电脑（992px - 1199px） */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main .container section div.inner ul li {
    width: 15.83333333333333333%;
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}

// /* 大屏电脑（1200px - 1439px） */
@media screen and (min-width: 1200px) {
  main .container section div.inner ul li {
    width: 15.83333333333333333%;
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}
